
<footer>

  <div class="footer-bottom flex-row-rj flex-justify-center-rj flex-align-center-rj">
    <div>
      <span> Privacy Policy Terms and Conditions ©</span>
      <span>Copyright 2022. All rights reserved</span>
    </div>
  </div>
</footer>
