body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}

*
{
  box-sizing: border-box;
}

.box
{
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}

.box h1
{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"]
{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus
{
  width: 280px;
  border-color: #2ecc71;
}

.box input[type="submit"]
{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover
{
  background: #2ecc71;
}

.warning
{
  color: red;
}


.container {
  width: 500px;
  margin: auto;
  border-radius: 5px;
  background-color: grey;
  padding: 20px;
  color: black;
  margin-top: 100px;
}

.input_form, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.proceed {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.proceed:hover {
  background-color: #45a049;
}

header {
  height: 48px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}


/* third nav */

header nav:nth-child(1) {
  background-color: #fefefe;
  height: 40px;
}

header nav:nth-child(1) ul li a:not(.last) {
  font-family: shentox, serif;
  display: block;
  text-align: center;
  padding: 0 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #919191;
}

header nav:nth-child(1) ul:first-child {
  margin-left: 20px;
}

header nav:nth-child(1) ul li a:hover {
  color: black;
}

header nav:nth-child(1) ul li button {
  width: 50px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: #f8f8ff;
  border: none;
  border-left: 1px inset #919191;
  opacity: 0.25;
}

header nav:nth-child(1) ul li button:hover {
  opacity: 1;
  cursor: pointer;
}

header nav:nth-child(1) ul li img {
  width: 20px;
}

/* main */

main {
  padding-top: 10px;
}

@media (max-width: 768px) {
  main {
    padding-top: 10px;
  }
}

.cover-left {
  margin-left: 7px;
  margin-right: 7px;
  height: 450px;
}

.logo-container {
  width: 95%;
  margin-left: 20px;
  margin-top: 10px;
}

.logo {
  width: 50%;
  max-width: 200px;
  height: auto;
}

.date {
  font-family: maquette, Arial, sans-serif;
  display: block;
  text-align: center;
  padding: 0 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: white;
}

.description {
  width: 90%;
  margin-left: 15px;
  margin-bottom: 10px;
}

.title-logo {
  font-family: Avalon, Arial, sans-serif;
  color: #fa6000;
  margin-bottom: 10px;
}

.title-logo-bottom,
.cover a {
  font-family: maquette, Arial, serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #919191;
}

.title-logo-bottom img {
  margin-left: 5px;
  margin-right: 5px;
  width: 15px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .cover-right,
  .cover-left {
    margin-right: 10px;
    margin-left: 10px;
  }

  .cover-left,
  .cover-right-top,
  .cover-right-bottom {
    height: 450px;
  }

  .cover-left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}

/* latest news */

.latest-new-header {
  color: rgb(255, 68, 34);
  font-family: Avalon, Arial, sans-serif;
  font-weight: 700;
}

.latest-new-header a {
  color: rgb(255, 68, 34);
}

.latest-new-header a:hover {
  color: black;
}

.gallery-item,
.gallery-deals,
.gallery-latest {
  width: 100%;
  height: 100%;
}

.gallery-item a,
.gallery-deals a {
  color: black;
}

.gallery-item a:hover,
.gallery-deals a:hover {
  color: rgb(255, 68, 34);
}

.gallery-item .image {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.gallery-item .image img,
.gallery-deals .image img,
.gallery-latest .image img {
  width: 100%;
  height: 200px;
}

.gallery-item .slide-description {
  font-family: maquette, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin-top: 7px;
  padding-right: 20px;
}

.author {
  font-family: maquette, Arial, serif;
  padding: 0 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  color: #919191;
}

@media (min-width: 768px) {
  .gallery-item .slide-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }

  .gallery-item .author {
    padding: 0 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    color: #919191;
  }
}


/* Apps */

.app-item {
  margin-top: 15px;
}

.image-relative {
  position: relative;
}

.header-apps {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.description-app {
  margin-left: 5px;
}

.description-app h5 {
  font-family: maquette, Arial, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: white;
}

.description-app h3 {
  font-family: maquette, Arial, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.header-latest-header {
  margin-top: 5px;
  width: 100%;
}

.div-latest-header {
  width: calc(100% - 100px);
}

.div-latest-header h5 {
  font-family: shentox, serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(255, 68, 34);
}

.div-latest-header h4 {
  margin-top: 5px;
  font-family: "maquette", Arial, serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 68, 34);
}

.header-latest-header img {
  display: block;
  width: 95px;
  height: 94px;
}

.list-latest-header li {
  margin-top: 10px;
}

.list-latest-header li::before {
  content: "•";
  padding-right: 8px;
  color: rgb(255, 68, 34);
}

.list-latest-header li a {
  font-family: "maquette", Arial, serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: rgb(91, 91, 91);
}

.list-latest-header li a:hover {
  color: black;
}

/* Latest deals */

.deals {
  margin-bottom: 20px;
}


/*Footer*/

.footer-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
	height: 50px;
	background-color: black;
	color: grey;
	font-size: 14px;
}

.footer-bottom span img {
	height: 7px;
}

small {
	color: red;
}

@media (max-width: 768px) {
  .list-slide-description {
    display: flex;
    flex-direction: row;
  }

  .gallery-item .image,
  .gallery-deals .image {
    width: 60px;
    height: 70px;
    overflow: hidden;
  }

  .gallery-latest .image {
    width: 100%;
    height: 100%;
  }

  .gallery-item .image img,
  .gallery-deals .image img,
  .gallery-latest .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-item .slide-description,
  .gallery-deals .slide-description {
    margin-left: 10px;
    font-size: 14px;
    margin-top: 0;
    padding-right: 20px;
  }

  .gallery-item .author,
  .price {
    margin-left: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    margin-top: 0;
  }
}

.cat-title {
  margin-left: 10px;
  text-decoration: underline;
  text-transform: uppercase;
  color: white;
  text-decoration-color: yellow;
}

.space {
  margin-bottom: 10px;
}

.margin-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 70px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
