<footer>

  <div class="footer-bottom">
    <div class="logo">
      <img src="<%=asset_path('eagles.ico')%>" alt="">
    </div>
    <div>
      <span> Privacy Policy Terms and Conditions ©</span>
      <span>Copyright 2022. All rights reserved</span>
    </div>
    <div>
      contact us
    </div>

  </div>
</footer>
