<%= render partial: 'header' %>

  <p class="warning margin-top"><%= flash.notice %></p>

  <div class="cat-cont-art">
    <%= art_thumb @cat %>
  </div>
  <div class="bottom">
  </div>

<%= render partial: 'footer' %>
